@using CustomHTMLHelperMetod.Library
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Button("btnOk1", ButtonType.button, "Onay") <br />
        @Html.Button("btnOk2", ButtonType.button, "Gönder") <br />
        @Html.Button("btnok3","btn btn-success",ButtonType.submit, "Iptal") <br />
        @Html.Paragraph("p1", 4, "dashed",@<text><b style="color:red"> Bu bir paragraph elementidir.</b> </text>)
    </div>
</body>
</html>
